*{
    margin: 0;
    box-sizing: border-box;
    background-color: lavender;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: solid;
    margin: 10px;
}

button{
    padding: 1px 3px 1px 3px;
    font-size: 14px;
    border: solid 1px; 
}

button:hover{
    cursor: pointer;
}



.login-register-header{
    /* margin-left: 30px; */
    display: flex;
    justify-content: right;
    height: fit-content;
    width: 100%;
}

.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-title{
    margin-bottom: 20px;
}


.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-input{
    margin-bottom: 8px;
}

.login-buttons{
    font-size: 14px;
}

.login-password{
    margin-left: 48px;

}

.login-show-password{
     
    border: solid 1px;
    padding: 1px
}

.login-show-password:hover{
    cursor: pointer;
}

.login-submit{
    margin-right: 5px;
}



.nav-bar-header{
    margin-top: 15px;
}

.item-nav-bar-header{
    border-right: solid;
    padding-right: 20px;
    padding-left: 20px;
}

.item-nav-bar-header:last-child{
    border-right:none;
}

.post{
    margin: 10px;
    padding: 10px;
    border: solid;
}

.post-logged-in-stuff{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-welcome{
    margin: 10px;
}

.post-add-listing-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.post-add-input{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.post-content{
    padding-left: 10px;
}

.search-form{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.user-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-post{
    display: flex;
    flex-direction: column;
}

.single-listing-edit-content{
    height: 0px;
}

.add-inputs{
    margin-bottom: 10px;
}